extends ../layout
block page
	- var menu = "new"
block content
		h2 New Voucher
		div= error
		div.col-md-8
			form(action="/api/vouchers", method="POST", role="form")
				.form-group
					label(for="code") Code
					input#code.form-control(name="code", type="text", placeholder="Code")
				.form-group
					label(for="central")
						|Central
						input#central.form-control(name="central", type="checkbox")
				.form-group
					label(for="usageLimit") Usage limit
					input#usageLimit.form-control(name="usageLimit", type="number", placeholder="Usage limit", min="-1", max="1")
				.form-group
					label(for="startTimestamp") Start timestamp
					input#startTimestamp.form-control(name="startTimestamp", type="date", placeholder="Start timestamp")
				.form-group
					label(for="endTimestamp") End timestamp
					input#endTimestamp.form-control(name="endTimestamp", type="date", placeholder="End timestamp")
				.form-group
					label(for="username") Username
					input#username.form-control(name="username", type="text", placeholder="Username")
				.form-group
					label(for="tradable")
						|Tradable
						input#tradable.form-control(name="tradable", type="checkbox")
				.form-group
					label(for="bundles")
						|Bundles
						select#bundles.form-control(name="characters[]", multiple="true")
							each bundle in bundles
								option(value=bundle.id)= bundle.name
				p
					button.btn.btn-success(type="submit") Submit
